- if authorizer.can_search?
  = form_tag search_path(version_ordinal: @version.ordinal), :method => :get do
    %p.searchForm
      = text_field_tag 'query', params[:query], :placeholder => t('.query_placeholder')
